# Expo (legacy)
.expo/
.expo-shared
dist/
web-build/

# dependencies
node_modules/

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.bundle
.env

# macOS
.DS_Store

# Temporary files
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath
.settings/
*.iml
*.ipr
*.iws

# Testing
coverage/

# Build
build/
android/
ios/
*.apk
*.aab
*.lock

# History
/.history/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.metadata

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Miscellaneous
*.class
*.pyc
.atom/
.buildlog/
.svn/
migrate_working_dir/
